@import "./utils/variables";
// @import "./utils/functions";
@import "./utils/mixins";
// @import "./utils/extensions";
// @import "./base/base";
@import "./base/config";
// @import "./base/typography";
// @import "./components/buttons";
@import "./layouts/header";
@import "./layouts/footer";
// @import "./layouts/nav";
// @import "./layouts/container";
// @import "./layouts/form";
@import "./pages/home";
@import "./pages/menu";
// @import "./pages/project";





h4 {
  font-weight: 700;
}


h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.btn-gradient {
  @include gradient;
  @include shadow;
  // TODO fix the previous include not working
  height: 40px;
  border-radius: 50px;
  color: rgb(227, 227, 227);
  font-weight: 700;
  box-shadow: 0px 10px 13px -7px #00000084,
    0px 2px 6px 2px rgba(106, 106, 106, 0);
  width: fit-content;
  padding: 0 1rem;
  &:hover {
    @include shadow-hover;
    @include gradient-hover;
    cursor: pointer;
  }
}

section {
  padding-top: 2.5rem;
  padding-bottom: 3.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 1rem;
}


.card {
  @include shadow;
  display: flex;
  padding: 0.65rem;
  height: 60px;
  background-color: $grey_background;
  color: $grey_font_color;
  position: relative;
  border-radius: 18px;

  &:hover {
    @include shadow-hover;
    cursor: pointer;
  }
}



h5 {
  font-weight: 700;
}


.max-container {
  max-width: 1280px;
  margin: auto;
}



h4 {
  font-size: 1.05rem;
}

figcaption {
  display: flex;
  flex-direction: column;
}






// -------------------------------
// -------------------------------
// -------------------------------
// MOBILE
// RESTAURANTS MENUS PAGES
// -------------------------------
// -------------------------------
// -------------------------------

.menu__cover {
  width: 100%;
  height: 259px;
  object-fit: cover;
}

.restaurant-name {
  position: relative;
  bottom: 50px;
  width: 100%;
  background-color: $grey_background;
  border-radius: 38px 38px 0 0;
  height: 80px;
  padding: 2rem 1rem 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h1 {
    font-family: 'Shrikhand', cursive;
    
  }
  i {
    font-size: 1.5rem;
   
    background-clip: text;
    
    position: absolute;
    right: 1.5rem;
  }

// test implementation coeur remplissant MENU PAGE

  
  i:nth-child(3) {
    opacity: 0;
    background: linear-gradient(180deg, $sec_color 0%, $prim_color 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:active {
      cursor: pointer;
      opacity: 100%;
      transition: opacity 500ms;
    }
  }


// fin de test

  
}



.menu {
  background-color: $grey_background;
  h1 {
    font-size: 1.85rem;
    font-weight: normal;
  }
  section {
    padding-top: 0.7rem;
    padding-bottom: 1.5rem;
  }
  h2 {
    text-transform: uppercase;
    // margin-bottom: 0.2rem;
    margin-bottom: 0.8rem;
    position: relative;
    @include dishes-category-animation();
      &::after {
        content: "";
        position: absolute;
        display: block;
        // transform: translateY(5px);
        // top: 5px;

        bottom: -3px;
        width: 45px;
        border-top: 3px solid $mint_color;
        // margin-bottom: 0.8rem;
        // TODO increase space between H2 and green line 
      }
  }
  display: flex;
  flex-direction: column;
  .card {
    color: black;
  }
}

// .greenline {
//   width: 45px;
//   border-top: 3px solid $mint_color;
//   margin-bottom: 0.8rem;
// }

.starter {
  margin-top: -50px;
}



// .dishe-container:nth-last-child(n+4),
// .dishe-container:nth-last-child(n+4) ~ .dishe-container {
// 	color: palevioletred;
// }



.dishes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @include dishes-animation();
}



.adder {
  display: flex;
  align-items: center;
  width: 65px;
  height: 70px;
  background-color: $mint_color;
  margin: -0.65rem -0.65rem -0.65rem 0;
  position: relative;
  top: 0px;
  right: 0px;
  border-radius: 0 18px 18px 0;
  cursor: pointer;

  // TEST START
  width: 0px;
  transition: width 500ms;

  // TEST END
  

}

.dishe-container {
  background-color: white;
  // opacity: 0;

  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: space-between;

  overflow: hidden;

  transition-timing-function: ease-out; 
  
  &:hover {
    .adder {
    display: flex;

    // TEST START
    transition: width 500ms;
    width: 60px;
    // TEST END
 
  }
   
    .rounded-quote {
      transform: rotate(1turn);
      

      transition: transform 500ms;


    }
  }


}


.rounded-quote {
  margin-left: 1rem;
  height: 1.35rem;
  width: 1.35rem;
  line-height: 1.35rem;
  text-align: center;
  color: $mint_color;
  background-color: white;
  border-radius: 50px;
  border: 1px solid white;
}


.dishes__card {
  background-color: white;

  display: flex;
  flex-direction: column;
  width: 100%;

  // height: 70px;
    h3 {
      font-size: 1.15rem;
      margin-bottom: .5rem;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .card__price {
      font-weight: bold;
      margin-right: 0.5rem;
      // transform: translate(55px,0);
      transition-timing-function: linear; 

      
    }
    
    
}


.card__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: .95rem;
}

.card__detail {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.order {
  max-width: 1280px;
  display: flex;
}

.btn-order {
  align-self: center;
  width: 200px;
  height: 50px;
  margin: 1rem auto 3rem auto;
  line-height: 100%;
  font-size: 1.05rem;
  font-weight: normal;
}




@media (min-width: $tablet) {



// -------------------------------
// -------------------------------
// -------------------------------
// TAbLETS
// RESTAURANTS MENUS PAGES
// -------------------------------
// -------------------------------
// -------------------------------

  .restaurant-name {
  h1 {
    padding-left: 2rem;
  }
  i {
    padding-right: 2rem;
  }

  }

  .menu__cover {
    height: 359px;
  }

}

// -------------------------------
// -------------------------------
// -------------------------------
// DESKTOP 
// HOME PAGE
// -------------------------------
// -------------------------------
// -------------------------------


@media (min-width: $desktop) {


// -------------------------------
// -------------------------------
// -------------------------------
// DESKTOP 
// RESTAURANTS MENUS PAGES
// -------------------------------
// -------------------------------
// -------------------------------

.dishes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1280px;
  // margin: 0 auto;
  // TODO fix the bug when centering using margin auto

  
  section {
    width: 50%;
  }
}

.main-course {
  margin-top: -50px;
}

.dessert {
  margin-top: 2rem;
}

.btn-order {
  margin-top: 3rem;
}

}





