$prim_color: #9356dc;
$sec_color: #ff79da;
$ter_color: #99e2d0;
$iphone14_vw: 390px;
$grey_font_color: rgb(72, 72, 72);
$faux_white_color: rgb(227, 227, 227);
$grey_background: #f7f7f7;
$white_background: #f7f7f7;
$faux_prim_color: #f5edff;
$new_background: #99e2d0;
$new_color: #109071;
$footer_color: #353535;
$mint_color: #99e2d0;

$prim_color_light: #9256dce6;
$sec_color_light: #ff79d9e0;
