





// -------
// DESKTOP 
// -------


@media (min-width: $desktop) {

  .restaurant-name {
    i:nth-child(3) {
      &:hover {
        cursor: pointer;
        opacity: 100%;
        transition: opacity 500ms;
      }
    }
  }
}