@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: normal;
  line-height: normal;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  margin: 0 auto 0 auto;
}

section,
footer {
  padding: 1rem;
  padding-top: 2.5rem;
}

section {
  padding-bottom: 3.5rem;
}

ul,
li {
  list-style-type: none;
}

a {
  all: unset;
}

button {
  border: none;
  padding: 0;
}


h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

h4 {
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 1rem;
}

h5 {
  font-weight: 700;
}

h4 {
  font-size: 1.05rem;
}